.app {
  padding: 24px 0 40px;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 24px 0;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 16px;
}

.distance {
  font-size: 16px;
}

.link {
  text-decoration: underline;
  text-underline-offset: 4px;

  cursor: pointer;
  text-decoration: underline;
}

.hero {
  width: 100%;
  height: 220px;

  object-fit: cover;

  border-radius: 10px;

  margin-bottom: 20px;
}


.activeLink {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}